[submodule "arcanist"]
	path = arcanist
	url = https://gerrit.wikimedia.org/r/phabricator/arcanist
	branch = wmf/stable
[submodule "libphutil"]
	path = libphutil
	url = https://gerrit.wikimedia.org/r/phabricator/libphutil
	branch = wmf/stable
