Source: libphutil
Homepage: https://secure.phabricator.com
Vcs-Browser: https://gerrit.wikimedia.org/r/phabricator/deployment
Vcs-Git: https://phabricator.wikimedia.org/diffusion/PHDEP/phabricator-deployment.git
Maintainer: Wikimedia Foundation Release Engineering <releng@wikimedia.org>
Section: devel
Priority: optional
Build-Depends: debhelper (>= 9),
               php5-cli
Standards-Version: 3.9.6

Package: libphutil
Architecture: amd64
Depends: ${misc:Depends}
Suggests: php5-cli
Description: A library of PHP classes and utilities which is shared between
 Phabricator and Arcanist.

Package: arcanist
Architecture: all
Depends: php5-cli, git, ssh, libphutil (= ${source:Version})
Suggests: python-tox
Description: The arc client for interacting with Phabricator code review.
