Source: libphutil
Homepage: https://secure.phabricator.com
Vcs-Browser: https://gerrit.wikimedia.org/r/phabricator/deployment
Vcs-Git: https://phabricator.wikimedia.org/diffusion/PHDEP/phabricator-deployment.git
Maintainer: Wikimedia Foundation Release Engineering <releng@wikimedia.org>
Section: devel
Priority: optional
Build-Depends: debhelper (>= 9),
               php5-cli,
               php5-curl,
               help2man,
               dpkg-dev
Standards-Version: 3.9.6

Package: libphutil
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: php5-cli
Description: Library of PHP classes and utilities which is shared between
 Phabricator and Arcanist.
 .
 Enhance PHP with classes such as Futures/Promises, nicer print, PHP abstract
 syntax tree, remarkup a lightweight Markdown language, daemon wrapper...

Package: arcanist
Architecture: all
Depends: php5-cli, php5-curl, git, openssh-client, libphutil (= ${source:Version}), ${shlibs:Depends}
Suggests: python-tox
Description: arc client for interacting with Phabricator code review.
 .
 arcanist is the command-line interface to Phabricator. It provides CLI access
 to several Phabricator tools such as Differential or Paste.
