#!/usr/bin/make -f
%:
	dh $@ --sourcedirectory=libphutil/support/xhpast

DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog -S version)
help2man = help2man -N --help-option='help --full' --version-string=${DEB_UPSTREAM_VERSION} \
	-o $1 -n '$3' $(CURDIR)/$2/bin/$(subst .1,,$1)
arc.1:
	$(call help2man,$@,arcanist,a code review and revision management utility for phabricator)
override_dh_auto_build:
	$(MAKE) -C libphutil/support/xhpast
override_dh_installman: arc.1
	dh_installman -p arcanist arc.1
clean:
	rm -f arc.1
	dh $@
