== {icon book} [[ https://www.mediawiki.org/wiki/Phabricator/Maintenance | MediaWiki / Phabricator / Maintenance ]] ==
----

== {icon code-fork} Deployment Details:
Revisions that will be deployed from **`wmf/stable`** tagged **`release/${milestone}/1`**

${submodule_summary}

== {icon chevron-circle-up} For details see the [[ https://secure.phabricator.com/w/changelog/ | Upstream Changelog ]]

----

== {icon subway} Other Deployments: ==

{icon list} [[ /maniphest/query/9NgSV2wc1CGv/ | All Phabricator Deployments ]]